table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  td {
    padding: 10px;
    vertical-align: top;
  }
  input, select, textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
  }
  h2 {
    text-align: center;
  }
  button {
    padding: 10px 20px;
    background-color: #4b514b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .submit-row {
    text-align: center;
  }